@model IEnumerable<INDEShipping.Models.TransportCompany>

@{
    ViewData["Title"] = "Transport Companies";
}

<h2>Transport Companies</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Max Length</th>
            <th>Max Width</th>
            <th>Max Height</th>
            <th>Max Weight</th>
            <th>Max Cubic</th>
            <th>Offer Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxLength)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxWidth)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxHeight)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxWeight)</td>
                <td>@Html.DisplayFor(modelItem => item.MaxCubic)</td>
                <td>@Html.DisplayFor(modelItem => item.OfferType)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
